doctype 5
html(lang="en")
  head
    title= self.name + " Documentation"
    link(rel="stylesheet", type='text/css', href='/_static/bootstrap/css/bootstrap.simplex.min.css')
  body(data-spy="scroll", data-target=".nav-list")
    .container-fluid
      .row-fluid
        .span3
          ul.nav.nav-list#navbar(style="margin-top: 64px; background-color: #fefefe; padding-top: 16px; padding-bottom: 16px")
            each service in self.services
              li.nav-header= service.name
              each endpoint in service.endpoints
                - var groupId = endpoint.verb + "_" + service.name + "_" + endpoint.path.replace(/\//g, "_").replace(/:/g, "_")
                li
                  a(href="#" + groupId)= "/" + service.name + endpoint.path + " @ " + endpoint.verb
        .span9
          .hero-unit
            h1= self.name
              small= " Version " + self.version
          each service in self.services
            .page-header
              h1= service.name + " "
                small.pull-right(style="line-height: 40px; font-size: 14px")
                  a.expand-all(data-service-name= service.name, href="#") Expand All 
                  span | 
                  a.collapse-all(data-service-name= service.name, href="#") Collapse All
            .accordion(id=service.name)
              each endpoint in service.endpoints
                - var groupId = endpoint.verb + "_" + service.name + "_" + endpoint.path.replace(/\//g, "_").replace(/:/g, "_")
                - var indicator = "success"
                if endpoint.verb === "GET"
                  - indicator = "info"
                if endpoint.verb === "DELETE"
                  - indicator = "error"
                if endpoint.verb === "PUT"
                  - indicator = "warning"

                .accordion-group(id=groupId)
                  .accordion-heading
                    .alert.accordion-toggle(class="alert-" + indicator, style="height: 22px; margin: 0px", data-toggle="collapse", data-parent="#_" + service.name, href="#collapse-" + groupId) 
                      .row-fluid(style="height: 22px")
                        .span1= endpoint.verb
                        .span4= "/" + service.name + endpoint.path
                        .span7.text-right= endpoint.summery
                  .accordion-body.collapse(id="collapse-" + groupId)
                    .accordion-inner
                      form
                        if endpoint.description
                          fieldset
                            legend Description
                            != endpoint.description
                        if endpoint.pathParts.length !== 0
                          fieldset
                            legend URL Parameters
                            table.table.table-condenced
                              thead
                                tr
                                  td Parameter
                                  td Value
                                  td Summery
                              tbody
                                each param in endpoint.pathParts
                                  if param.type === "param"
                                    tr
                                      td= param.name
                                      td
                                        input.input-block-level(type="text", name=param.name)
                                      td.text-right= param.summery
                        .form-actions
                          button.btn.btn-primary.disabled(type="submit", disabled) Try it!

    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(type='text/javascript', src='/_static/bootstrap/js/bootstrap.js')
    script
      var doAccordionAction = function(rootDom, command) {
        $(rootDom).find(".accordion-body").each(function (idx, elt) {
          $(elt).collapse(command);
        });

        return false;
      };

      var expandAll = function(rootDom) { return doAccordionAction(rootDom, "show"); };
      var collapseAll = function(rootDom) { return doAccordionAction(rootDom, "hide"); };

      $(document).ready(function () {
        $(".expand-all").each(function (idx, elt) {
          var id = "#" + $(elt).attr("data-service-name") + ".accordion"
          $(elt).on("click", function () { return expandAll($(id)); });
        });

        $(".collapse-all").each(function (idx, elt) {
          var id = "#" + $(elt).attr("data-service-name") + ".accordion"
          $(elt).on("click", function () { return collapseAll($(id)); });
        });
      });
